TS_HOST=127.0.0.1
TS_PORT=8011
TS_DATABASE_PATH=data/tianshu.sqlite3
TS_LOG_LEVEL=INFO
TS_SEED_ON_STARTUP=false
TS_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
TS_SIMULATION_DEFAULT_SPEED=10
TS_SIMULATION_TICK_SECONDS=1
